<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vance's To-Do List App</title>
    <!--this style allows us to make an error message that is hidden by 
        default and only displays if an error occurs-->
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: fit-content;
        }
        li {
            padding: 2px;
        }
        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            background: none;
            float: right;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!--create new list item-->
    <form id="form">
        <label for="info">Add New To-Do</label><br>
        <input type="text" id="info" name="info">
        <input type="submit" value="Create">
    </form>
    
    <!--error message that we can show if something goes wrong adding item-->
    <div id="error" class="hidden">Problem creating new to-do item!</div>

    <!--display current to-do list-->
    <p>Current To-Do Items</p>
    <ul id="todos">
        <!--iterate over the list of data we passed in from index(), 
            displaying each item's status and info attribute and tagging
            the list item with the object's id.
            this section uses Jinja2 syntax.-->
        {% for d in data %}
        <li>
            <input class="check-completed" data-id="{{ d.id }}"
                type="checkbox" {% if d.completed %} checked {% endif %}>
            {{ d.info }}
            <button class="delete-button" data-id="{{ d.id }}">X</button>
        </li>
        {% endfor %}
    </ul>

    <!--retrieve data from form as JSON, append new item to UL above-->
    <script>
        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            // send data to the controller so it can add to database
            // this exact header is required for Flask to recognize json data
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'info': document.getElementById('info').value
                }),
                headers: {'Content-Type': 'application/json'}
            })

            // two part promise which takes data back from controller
            // and uses it to update the view (ansynchronously)
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                const dataId = jsonResponse['id'];
                const dataInfo = jsonResponse['info'];
                const li = document.createElement('li');
                
                const box = document.createElement('input');
                box.className = 'check-completed';
                box.type = 'checkbox';
                box.setAttribute('data-id', dataId);
                li.appendChild(box);

                const text = document.createTextNode(' ' + dataInfo);
                li.appendChild(text);

                const del = document.createElement('button');
                del.className = 'delete-button';
                del.setAttribute('data-id', dataId);
                del.innerHTML = 'X';
                li.appendChild(del);

                document.getElementById('todos').appendChild(li);

                //create listener for new todo item since the primary listener 
                //below only runs when the page first loads
                box.onchange = function(e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    fetch('/todos/' + dataId + '/set-complete', {
                        method: 'POST',
                        body: JSON.stringify({'completed': newCompleted}),
                        headers: {'Content-Type': 'application/json'}
                    })
                }

                //create listener for new todo item since the primary listener 
                //below only runs when the page first loads
                del.onclick = function(e) {
                    console.log('event', e);
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/delete', {method: 'DELETE'})
                    .then(function() {
                        e.target.parentElement.remove();
                    })
                }
                document.getElementById('error').className = 'hidden';
                })
            // display the error from the div above if there's a server issue
            .catch(function() {
                document.getElementById('error').className = '';
            })
        }

        ///// tried to make a single function that could be called from
        ///// both the create action and the page listener but it didn't work
        // function checkboxListen(e) {
        //     console.log('event', e);
        //     const todoId = e.target.dataset['id'];
        //     const newCompleted = e.target.checked;
        //     fetch('/todos/' + todoId + '/set-complete', {
        //         method: 'POST',
        //         body: JSON.stringify({'completed': newCompleted}),
        //         headers: {'Content-Type': 'application/json'}
        //     })
        // }

        // loop over checkbox elements, check for state changes,
        // send new state into to controller
        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i=0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                const newCompleted = e.target.checked;
                fetch('/todos/' + todoId + '/set-complete', {
                    method: 'POST',
                    body: JSON.stringify({'completed': newCompleted}),
                    headers: {'Content-Type': 'application/json'}
                })
                .then(function() {
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        }

        // loop over delete button elements, listen for click,
        // tell controller which item to delete
        const buttons = document.querySelectorAll('.delete-button');
        for (let i=0; i < buttons.length; i++) {
            const button = buttons[i];
            button.onclick = function(e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/delete', {method: 'DELETE'})
                .then(function() {
                    // remove item from view as well 
                    e.target.parentElement.remove();
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        }
    </script>
</body>
</html>